<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Static part</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="{% url 'basic_app:list' %}">Schools</a></li>
      <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
      <li><a class="navbar-link" href="#">Other</a></li>
    </ul>
  </nav>
    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
</body>
</html>