<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Django Level Two</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}"
    </head>
    <body>
        <h1>Welcome to Django level two!</h1>
        <h2>Go to /forms to fill out the form</h2>
        <h2>Go to /user to signup</h2>
        <h3>Web pages access history:</h3>
        <div>
            {% if access_records %}
            <table class="web-head">
                <thead style="text-align:left">
                    <th class="web-head">Site Name</th>
                    <th class="web-head">Date Accessed</th>
                </thead>
                <tbody class="web-body">
                    {% for acc in access_records %}
                    <tr>
                        <td>{{ acc.topic }}</td>
                        <td>{{ acc.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p style="text-align:center"> No access records found!</p>
            {% endif %}
        </div>
    </body>
</html>